
/*
================================================================================
									NAV	                                  
================================================================================
*/
#nav{
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	z-index: 100;
	top:0;
	left: 0;
	bottom: 0;
	padding: 40px 40px 40px 0;
	width: 141px;
	.panel-navig{
		height: 100%;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		justify-content: space-between;
		.social-link{
			//display: none;
			opacity: 0;
			transform: scale(1,1,1);
			transition: all .2s ease;
			&:hover{
				transform: scale(1.1,1.1);
			}
		}
		.logo-nav{
			display: flex;
			flex-direction: row;
			span.lable{
				display: none;
				opacity: 0;
				//display: flex;
				align-items: center;
				justify-content: center;
				font-size: 75px;
				color: #FFF;
				font-weight: 900;
				height: 77px;
			}
			img{
				display: flex;
				height: 76px;
				padding-left: 10px;
			}
		}
		#nav-icon3 {
		  width: 48px;
		  height: 48px;
		  position: relative;
		  transform: rotate(0deg);
		  cursor: pointer;
		}

	    #nav-icon3 span {
		  display: block;
		  position: absolute;
		  height: 2px;
		  width: 100%;
		  background: #000;
		  border-radius: 9px;
		  opacity: 1;
		  left: 0;
		  transform: rotate(0deg);
		  transition: .25s ease-in-out;
		}
		#nav-icon3 span:nth-child(1) {
		  top: 0px;
		}

		#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
		  top: 18px;
		}

		#nav-icon3 span:nth-child(4) {
		  top: 36px;
		}

		#nav-icon3.open span:nth-child(1) {
		  top: 18px;
		  width: 0%;
		  left: 50%;
		}

		#nav-icon3.open span:nth-child(2) {
		  transform: rotate(45deg);
		}

		#nav-icon3.open span:nth-child(3) {
		  transform: rotate(-45deg);
		}

		#nav-icon3.open span:nth-child(4) {
		  top: 18px;
		  width: 0%;
		  left: 50%;
		}
	}
	.nav-box{
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		.menu{
			position: absolute;
			top: 40%;
			left: 50%;
			opacity: 0;
			transform: translate(-50%,-50%);
			flex-direction: column;
			display: none;
			align-items: flex-start;
			a{
				color: #fff;
				font-size: 48px;
				line-height: normal;
				margin-bottom: 10px;
				//text-shadow: 0 0 1px  rgba(203, 18, 18, 1);
				&::before {
					color: #cb1212;
					content: attr(data-hover);
					font-size: 48px;
					position: absolute;
					opacity: 0;
					text-shadow: 0 0 1px  rgba(203, 18, 18, 1);
					transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
					transition: transform 0.3s, opacity 0.3s;
					pointer-events: none;
				}
					&:hover::before, &:focus::before {
					transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
					opacity: 1;
				}
				.cursor-a {
	  				animation: blink .5s step-end infinite;
				}
				@keyframes blink {0% {color: #cb1212} 50% {color: transparent;}}
			}
		}
	}
}
.active{
	color: #cb1212 !important;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
	#nav{
		padding: 0 15px 5px 15px !important;
		.nav-box{
			.menu{
				a{
					font-size: 48px;
				}
			}
		}
		.panel-navig{
			height: auto !important;
			padding-top: 5px;
			flex-direction: row-reverse;
			width: 100% !important;
			a.social-link{
				display: none;
			}
			.logo-nav{
				span.lable{
					font-size: 60px;
					height: 66px;
				}
				img{
					height: 66px;
				}
			}
		}
	}	
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 


}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { 
	#nav{
		background: #fff;
		padding: 0 20px 5px 20px;
		width: 100% !important;
		height: 87px;
		display: flex;
		flex-direction: column;
		.nav-box{
			padding-bottom: 10px;
		}
		.panel-navig{
			height: auto !important;
			padding-top: 5px;
			flex-direction: row-reverse;
			width: 100% !important;
			a.social-link{
				display: none;
			}
		}
	}	
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { 
	
}