
/*
================================================================================
									PORTFOLIO	                                  
================================================================================
*/
.grid-box{
	padding-left: 10%;
	width: 100%;
	height: 100% !important;
}
.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}
.grid-sizerr,
.grid-item3x2{
  width: 40%
}

.grid-item,.grid-item3x2 {
  float: left;
}

.grid-item img,.grid-item3x2 img {
  display: block;
  width: 100%;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
	
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 
	

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { 
	
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { 
	
}