
/*
================================================================================
									SKILS	                                  
================================================================================
*/
.fullpage{
	overflow: auto !important;
	//padding-bottom: 30px;
	&::-webkit-scrollbar {
		width: 10px;
		overflow: visible;
		border-radius: 4px;
	}
	&::-webkit-scrollbar-thumb {
		overflow: visible;
		border-radius: 4px;
		background: rgba(0, 0, 0, 0.7);
	}
	.skils-container{
		height: 100%;
		flex-direction: row;
		display: flex;
		align-items: center;
		padding-left: 20%;
		.accordion{
			display: flex;
			flex-direction: column;
			padding: 0;
			list-style: none;
			margin-bottom: 30px;
			align-items: flex-start;
			a{
				display: flex;
				font-size: 48px;
				color: #000;
				display: flex;
				margin-top: 30px;
				border-bottom: 2px dashed #000;
				transition: all .2s ease;
				&:hover{
					color: #cb1212;
				}
				.cursor {
					display: none;
      				animation: blink .5s step-end infinite;
				}
    			@keyframes blink {0% {color: #cb1212} 50% {color: transparent;}}
			}
			.content{
				display: none;
				h4{
					font-size: 24px;
					color: #000;
					font-weight: 700;
					margin-top: 35px;
				}
				p{
					margin-top: 35px;
					font-size: 24px;
					font-weight: 300;
					color: #000;
				}
			}
		}
	}
}
.active-s{
	color: #cb1212 !important;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 450px) { 
	.fullpage{
		.skils-container{
			.accordion{
				width: 280px !important;
				.open{
					margin-top: 15px;
					font-size: 30px !important;
				}
				.content{
					h4{
						margin-top: 15px;
						font-size: 20px
					}
					p{
						font-size: 20px;
						margin-top: 15px;
					}
				}
			}
		}
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 
	.fullpage{
		.skils-container{
			padding: 0;
			justify-content: center;
			.accordion{
				width: 356px;
				.open{
					font-size: 38px;
				}
				
			}
		}
	}

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { 
	.fullpage{
		.skils-container{
			
			.accordion{
				margin-top: 90px !important;
				margin-bottom: 90px;
			}
		}
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { 
	
}