/*
================================================================================
|                                     	LOADER                                  |
================================================================================
*/
.loaderArea {
  background: #212121;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100000; }
  .loaderArea .loader-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 100; }
  .loaderArea .loader {
    position: absolute;
    top: 49%;
    left: 49%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 99; }
    .loaderArea .loader:after {
      content: '';
      position: absolute;
      top: 49%;
      left: 49%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 35px;
      height: 35px;
      z-index: 999999;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-animation-name: loader;
              animation-name: loader;
      -webkit-animation-duration: 3s;
              animation-duration: 3s;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    background: aqua; }
  20% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    background: pink; }
  40% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    background: bisque; }
  60% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    background: cornflowerblue; }
  80% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    background: blue; }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    background: burlywood; } }

@keyframes loader {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    background: aqua; }
  20% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    background: pink; }
  40% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    background: bisque; }
  60% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    background: cornflowerblue; }
  80% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    background: blue; }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    background: burlywood; } }

/*!
 * fullPage 2.9.5
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled, .fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left;
  height: 100%;
  display: block; }

.fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent; }
  .fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }
  #fp-nav.right {
    right: 17px; }
  #fp-nav.left {
    left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important; }
  .fp-slidesNav.bottom {
    bottom: 17px; }
  .fp-slidesNav.top {
    top: 17px; }

#fp-nav ul, .fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
  display: inline-block; }

#fp-nav ul li a, .fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  -webkit-border-radius: 100%;
          border-radius: 100%; }

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.left {
  left: 20px; }

.fp-auto-height.fp-section, .fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive.fp-section, .fp-responsive .fp-auto-height-responsive .fp-slide, .fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

@font-face {
  font-family: 'CirceWebExtraBold';
  src: url("../fonts/CRC75__W.eot");
  src: url("../fonts/CRC75__W.eot?#iefix") format("embedded-opentype"), url("../fonts/CRC75__W.woff") format("woff"), url("../fonts/CRC75__W.ttf") format("truetype"), url("../fonts/CRC75__W.svg#CirceWeb-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CirceWebBold';
  src: url("../fonts/CRC65__W.eot");
  src: url("../fonts/CRC65__W.eot?#iefix") format("embedded-opentype"), url("../fonts/CRC65__W.woff") format("woff"), url("../fonts/CRC65__W.ttf") format("truetype"), url("../fonts/CRC65__W.svg#CirceWeb-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CirceWebRegular';
  src: url("../fonts/CRC55__W.eot");
  src: url("../fonts/CRC55__W.eot?#iefix") format("embedded-opentype"), url("../fonts/CRC55__W.woff") format("woff"), url("../fonts/CRC55__W.ttf") format("truetype"), url("../fonts/CRC55__W.svg#CirceWeb-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CirceWebLight';
  src: url("../fonts/CRC35__W.eot");
  src: url("../fonts/CRC35__W.eot?#iefix") format("embedded-opentype"), url("../fonts/CRC35__W.woff") format("woff"), url("../fonts/CRC35__W.ttf") format("truetype"), url("../fonts/CRC35__W.svg#CirceWeb-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background: #fff; }

input:invalid {
  border: none; }

a {
  text-decoration: none; }

h3 {
  font-size: 36px;
  font-family: 'CirceWebLight';
  text-transform: uppercase;
  margin-bottom: 25px; }

h2 {
  font-family: 'CirceWebBold';
  position: relative;
  font-size: 44px;
  color: #2b93d1;
  text-transform: uppercase; }

h1 {
  text-transform: uppercase; }

/*
================================================================================
|                                     	NAV                                  |
================================================================================
*/
#nav {
  padding: 50px 50px 0 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  opacity: 0;
  z-index: 999; }
  #nav .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 139px;
    height: 21px;
    background: url(../img/logo.png) 0px 0px no-repeat; }
  #nav a.btn {
    display: none;
    cursor: pointer; }
    #nav a.btn span {
      position: relative;
      display: block;
      width: 30px;
      height: 4px;
      background: #fff;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      #nav a.btn span:before, #nav a.btn span:after {
        position: absolute;
        background: #fff;
        content: '';
        width: 30px;
        height: 4px;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      #nav a.btn span:before {
        top: -8px; }
      #nav a.btn span:after {
        top: 8px; }
  #nav a.active-btn span {
    background: transparent; }
    #nav a.active-btn span:before {
      -webkit-transform: rotate(45deg) translate(5px, 6px);
          -ms-transform: rotate(45deg) translate(5px, 6px);
              transform: rotate(45deg) translate(5px, 6px); }
    #nav a.active-btn span:after {
      -webkit-transform: rotate(-45deg) translate(5px, -6px);
          -ms-transform: rotate(-45deg) translate(5px, -6px);
              transform: rotate(-45deg) translate(5px, -6px); }
  #nav #menu {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #nav #menu li {
      padding-left: 37px; }
      #nav #menu li a {
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
        font-family: 'CirceWebBold'; }
        #nav #menu li a:after {
          display: block;
          content: "";
          height: 2px;
          width: 0%;
          background-color: #fff;
          -webkit-transition: width .3s ease-in-out;
          -o-transition: width .3s ease-in-out;
          transition: width .3s ease-in-out; }
        #nav #menu li a:hover:after {
          width: 100%; }

@media (max-width: 767px) {
  #nav {
    height: 70px;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 20px; }
    #nav a.btn {
      display: block; }
    #nav #menu {
      display: none;
      position: absolute;
      width: 100%;
      top: 70px;
      left: 0;
      margin: 0;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      background: rgba(0, 0, 0, 0.5);
      padding-bottom: 10px; }
      #nav #menu li {
        padding-bottom: 10px;
        padding-left: 0; } }

/*
================================================================================
|                                     	BANER 0                                  |
================================================================================
*/
.baner0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: url(../img/baner-bg.png) 50% 50% no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .baner0 .slogan-b0 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center; }
    .baner0 .slogan-b0 h1 {
      position: relative;
      text-align: center;
      font-size: 100px;
      color: #fff;
      line-height: 100px;
      font-family: 'CirceWebExtraBold'; }
      .baner0 .slogan-b0 h1:after {
        content: "";
        width: 190px;
        height: 2px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background-color: #fdba58;
        position: absolute;
        bottom: -28px;
        left: 50%;
        -webkit-transform: translate(-50%);
            -ms-transform: translate(-50%);
                transform: translate(-50%); }
    .baner0 .slogan-b0 p {
      margin-top: 70px;
      font-family: 'CirceWebRegular';
      font-size: 26px;
      color: #fff; }
  .baner0 .social {
    position: absolute;
    bottom: 46px;
    left: 50%;
    opacity: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .baner0 .social .icon-box1 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 48px;
      height: 48px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin: 0 25px;
      background: rgba(0, 0, 0, 0.5); }
      .baner0 .social .icon-box1:hover {
        background: #3f729b; }
      .baner0 .social .icon-box1 .icon1 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 20px;
        height: 20px;
        background: url(../img/s-icon.png) 0px 0px no-repeat; }
    .baner0 .social .icon-box2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 48px;
      height: 48px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin: 0 25px;
      background: rgba(0, 0, 0, 0.5); }
      .baner0 .social .icon-box2:hover {
        background-color: #55acee; }
      .baner0 .social .icon-box2 .icon2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 20px;
        height: 20px;
        background: url(../img/s-icon.png) -21px 0px no-repeat; }
    .baner0 .social .icon-box3 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 48px;
      height: 48px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin: 0 25px;
      background: rgba(0, 0, 0, 0.5); }
      .baner0 .social .icon-box3:hover {
        background-color: #3b5998; }
      .baner0 .social .icon-box3 .icon3 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 20px;
        height: 20px;
        background: url(../img/s-icon.png) -42px 0px no-repeat; }

@media (max-width: 575px) {
  .baner0 .slogan-b0 {
    padding: 0 15px !important; }
    .baner0 .slogan-b0 h1 {
      font-size: 55px !important;
      line-height: 55px !important; }
    .baner0 .slogan-b0 p {
      font-size: 20px !important;
      margin-top: 55px !important; }
  .baner0 .social {
    bottom: 15px; } }

@media (max-width: 991px) {
  .baner0 .slogan-b0 {
    padding: 0 15px; }
    .baner0 .slogan-b0 h1 {
      font-size: 80px;
      line-height: 80px; }
    .baner0 .slogan-b0 p {
      margin-top: 60px; } }

/*
================================================================================
|                                     	BANER 1                                  |
================================================================================
*/
.baner1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #212121; }
  .baner1 .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .baner1 .row .col {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 70px; }
      .baner1 .row .col .box {
        opacity: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 292px; }
        .baner1 .row .col .box .ico1 {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          width: 90px;
          height: 107px;
          background: url(../img/sprite.png) 1px 0px no-repeat; }
        .baner1 .row .col .box .ico2 {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          width: 90px;
          height: 107px;
          background: url(../img/sprite.png) -89px 0px no-repeat; }
        .baner1 .row .col .box .ico3 {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          width: 90px;
          height: 107px;
          background: url(../img/sprite.png) -180px 0px no-repeat; }
        .baner1 .row .col .box .ico4 {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          width: 90px;
          height: 107px;
          background: url(../img/sprite.png) -270px 0px no-repeat; }
        .baner1 .row .col .box .text-box {
          display: none;
          opacity: 0;
          margin-top: 40px;
          text-align: center; }
          .baner1 .row .col .box .text-box .orang {
            color: #fcb957; }
          .baner1 .row .col .box .text-box .pink {
            color: #f16682; }
          .baner1 .row .col .box .text-box .blue {
            color: #00babe; }
          .baner1 .row .col .box .text-box .green {
            color: #bbd86b; }
          .baner1 .row .col .box .text-box p {
            font-family: 'CirceWebRegular';
            font-size: 18px;
            color: #fff;
            line-height: 24px; }

@media (max-width: 767px) {
  .baner1 .row .col {
    width: 100% !important; }
    .baner1 .row .col .box {
      opacity: 1 !important; }
      .baner1 .row .col .box .text-box {
        opacity: 1;
        display: block !important; } }

@media (max-width: 1328px) {
  .baner1 .row {
    padding-bottom: 40px; }
    .baner1 .row .col {
      width: 50%; }
      .baner1 .row .col .box {
        padding-top: 40px; }
        .baner1 .row .col .box .text-box {
          margin-top: 20px; }
          .baner1 .row .col .box .text-box h3 {
            margin-bottom: 10px; } }

@media (max-width: 1728px) {
  .baner1 .row .col {
    padding: 0 20px; } }

/*
================================================================================
|                                     	BANER 2                                 |
================================================================================
*/
.baner2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: url(../img/baner-bg.png) 50% 50% no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .baner2 .slogan-b2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center; }
    .baner2 .slogan-b2 h1 {
      position: relative;
      text-align: center;
      font-size: 100px;
      color: #fff;
      line-height: 100px;
      font-family: 'CirceWebExtraBold'; }
      .baner2 .slogan-b2 h1:after {
        content: "";
        width: 190px;
        height: 2px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background-color: #fdba58;
        position: absolute;
        bottom: -28px;
        left: 50%;
        -webkit-transform: translate(-50%);
            -ms-transform: translate(-50%);
                transform: translate(-50%); }
    .baner2 .slogan-b2 p {
      margin-top: 70px;
      font-family: 'CirceWebRegular';
      font-size: 26px;
      color: #fff; }
    .baner2 .slogan-b2 a.btn-b2 {
      position: absolute;
      bottom: -100px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      font-size: 18px;
      font-family: 'CirceWebExtraBold';
      text-transform: uppercase;
      color: #fff;
      width: 297px;
      height: 57px;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .baner2 .slogan-b2 a.btn-b2::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid #fdba58;
        content: '';
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, -webkit-transform 0.3s;
        -o-transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s; }
      .baner2 .slogan-b2 a.btn-b2::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid #354856;
        content: '';
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, -webkit-transform 0.3s;
        -o-transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        border-color: #fff;
        opacity: 0;
        -webkit-transform: translateY(-7px) translateX(6px);
        -ms-transform: translateY(-7px) translateX(6px);
            transform: translateY(-7px) translateX(6px); }
      .baner2 .slogan-b2 a.btn-b2:hover::before, .baner2 .slogan-b2 a.btn-b2:focus::before {
        opacity: 0;
        -webkit-transform: translateY(5px) translateX(-5px);
        -ms-transform: translateY(5px) translateX(-5px);
            transform: translateY(5px) translateX(-5px); }
      .baner2 .slogan-b2 a.btn-b2:hover::after, .baner2 .slogan-b2 a.btn-b2:focus::after {
        opacity: 1;
        -webkit-transform: translateY(0px) translateX(0px);
        -ms-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px); }

@media (max-width: 575px) {
  .baner2 .slogan-b2 {
    padding: 0 15px !important; }
    .baner2 .slogan-b2 h1 {
      font-size: 55px !important;
      line-height: 55px !important; }
    .baner2 .slogan-b2 p {
      font-size: 20px !important;
      margin-top: 55px !important; }
    .baner2 .slogan-b2 a.btn-b2 {
      width: 230px; } }

@media (max-width: 991px) {
  .baner2 .slogan-b2 {
    padding: 0 15px; }
    .baner2 .slogan-b2 h1 {
      font-size: 80px;
      line-height: 80px; }
    .baner2 .slogan-b2 p {
      margin-top: 60px; } }

/*
================================================================================
|                                     		CONTACT                            |
================================================================================
*/
#section3 .contact-box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  #section3 .contact-box .contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
    #section3 .contact-box .contact h2 {
      margin-bottom: 25px; }
      #section3 .contact-box .contact h2:before {
        content: '';
        position: absolute;
        top: -100px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 64px;
        height: 57px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background: url(../img/contact.png) 50% 50% no-repeat; }
    #section3 .contact-box .contact p {
      font-family: 'CirceWebLight';
      line-height: 36px;
      font-size: 30px;
      color: #666666; }
  #section3 .contact-box .forma {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 0%;
    background: #2b93d1; }
    #section3 .contact-box .forma #form {
      padding: 0 25px;
      display: none;
      position: relative;
      max-width: 618px;
      margin: auto;
      text-align: center; }
      #section3 .contact-box .forma #form input {
        width: 100%;
        height: 58px;
        background-color: transparent;
        border: 1px solid #fff;
        margin-bottom: 18px;
        padding-left: 20px;
        color: #fff;
        font-family: 'CirceWebRegular';
        font-size: 20px;
        cursor: pointer; }
      #section3 .contact-box .forma #form input::-webkit-input-placeholder {
        font-family: 'CirceWebRegular';
        font-size: 20px;
        color: #fff; }
      #section3 .contact-box .forma #form input::-moz-placeholder {
        font-family: 'CirceWebRegular';
        font-size: 20px;
        color: #fff; }
      #section3 .contact-box .forma #form input:-ms-input-placeholder {
        font-family: 'CirceWebRegular';
        font-size: 20px;
        color: #fff; }
      #section3 .contact-box .forma #form input::-ms-input-placeholder {
        font-family: 'CirceWebRegular';
        font-size: 20px;
        color: #fff; }
      #section3 .contact-box .forma #form input::placeholder {
        font-family: 'CirceWebRegular';
        font-size: 20px;
        color: #fff; }
      #section3 .contact-box .forma #form input:focus::-webkit-input-placeholder {
        color: #fff; }
      #section3 .contact-box .forma #form input:focus::-moz-placeholder {
        color: #fff; }
      #section3 .contact-box .forma #form input:focus:-ms-input-placeholder {
        color: #fff; }
      #section3 .contact-box .forma #form input:focus::-ms-input-placeholder {
        color: #fff; }
      #section3 .contact-box .forma #form input:focus::placeholder {
        color: #fff; }
      #section3 .contact-box .forma #form input:focus {
        border: 2px solid #fff; }
      #section3 .contact-box .forma #form textarea {
        width: 100%;
        background-color: transparent;
        overflow: auto;
        resize: none;
        padding: 23px 20px;
        height: 157px;
        border: 1px solid #fff;
        color: #fff;
        font-family: 'CirceWebRegular';
        font-size: 20px;
        margin-bottom: 18px; }
      #section3 .contact-box .forma #form textarea::-webkit-input-placeholder {
        color: #fff;
        font-family: 'CirceWebRegular';
        font-size: 20px; }
      #section3 .contact-box .forma #form textarea::-moz-placeholder {
        color: #fff;
        font-family: 'CirceWebRegular';
        font-size: 20px; }
      #section3 .contact-box .forma #form textarea:-ms-input-placeholder {
        color: #fff;
        font-family: 'CirceWebRegular';
        font-size: 20px; }
      #section3 .contact-box .forma #form textarea::-ms-input-placeholder {
        color: #fff;
        font-family: 'CirceWebRegular';
        font-size: 20px; }
      #section3 .contact-box .forma #form textarea::placeholder {
        color: #fff;
        font-family: 'CirceWebRegular';
        font-size: 20px; }
      #section3 .contact-box .forma #form textarea:focus {
        border: 2px solid #fff; }
      #section3 .contact-box .forma #form textarea:focus::-webkit-input-placeholder {
        color: #fff; }
      #section3 .contact-box .forma #form textarea:focus::-moz-placeholder {
        color: #fff; }
      #section3 .contact-box .forma #form textarea:focus:-ms-input-placeholder {
        color: #fff; }
      #section3 .contact-box .forma #form textarea:focus::-ms-input-placeholder {
        color: #fff; }
      #section3 .contact-box .forma #form textarea:focus::placeholder {
        color: #fff; }
      #section3 .contact-box .forma #form .btn-form {
        width: 312px;
        height: 67px;
        padding: 0;
        border: 2px solid #257fb2;
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'CirceWebBold';
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease; }
        #section3 .contact-box .forma #form .btn-form:hover {
          border: 3px solid #fff; }

@media (max-width: 767px) {
  #section3 .contact-box {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    #section3 .contact-box .contact {
      width: 100%;
      height: 51vh; }
      #section3 .contact-box .contact h2:before {
        display: none; }
    #section3 .contact-box .forma {
      width: 100%;
      height: 100vh; }
      #section3 .contact-box .forma #form {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
